<div class="user header" data-js="user-header" id="{{id}}">
    <h1>Vendedor: <a class="user-link" href="{{permalink}}"><span class="username">{{nickname}}</span> ({{points}})</a></h1>
    <a class="account__btn-delete u--clearfix">
        Eliminar cuenta<span class="ch-icon-trash"></span>
    </a>
    <div class="status content" id="status-{{id}}"></div>
</div>